{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:css-modules/recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "arrow-body-style": "error",
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "generator-star-spacing": ["error", "after"],
    "no-undef": "error",
    "no-console": "warn",
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "rest-spread-spacing": "error",
    "template-curly-spacing": "error",
    "yield-star-spacing": "error"
  },
  "plugins": ["react", "flowtype", "css-modules", "jest"],
  "globals": {
    "pug": true,
    "__API_ENDPOINT__": true,
    "__ENV__": true,
    "__BASENAME__": true
  }
}
